.standart-page
	margin-bottom: 100px

	&__img
		margin-bottom: 75px
	
		img
			display: block

	&__text
		font-size: 14px
		line-height: calc(26 / 14)

@media (max-width: 1000px) and (min-width: 660px)
	.standart-page
		margin-bottom: 50px

@media (max-width: 660px)
	.standart-page
		margin-bottom: 30px

		&__img
			margin-bottom: 40px