html(lang="ru")
	head
		meta(charset="utf-8")
		title Приемущества
		include inc/head.pug
		include inc/css.pug
	body.inner.loading
		include inc/header.pug
		main#content
			.inner-content
				.inner-content__content
					.advantages
						.n-advantages
							.n-advantages__slider
								.advantages-slider
									.swiper-wrapper
										- for (let i = 0; i < 6; i++)
											.swiper-slide
												.advantages-slide
													.advantages-slide__subtitle преимущества
													.advantages-slide__title Почему нас советуют друзьям?
													.advantages-slide__text 
														p Настоящее мастерство рождается с опытом. 
														p 29 лет компания LORENA занимается производством кухонных гарнитуров. И за весь свой долгий путь мы выявили 3 составляющих идеальной кухни: долговечность, красота и комфорт
									.advantages-slider__nav
										.advantages-slider__nav-arrows
											.swiper-button-prev
											.swiper-button-next
										.advantages-slider__nav-counter
											.swiper-pagination
							.n-advantages__list
								.advantage-list
									.advantage-list__item
										figure.advantage-list__item-img
											img(src="img/photos/n-advantage-0.svg")
										.advantage-list__item-desc
											.advantages-desc
												.advantage-desc__title Без опозданий и рассрочек
												.advantage-desc__text У нас четкие сроки производства, а это значит, что Ваша кухня прибудет к вам в обозначенный день и час
									.advantage-list__item
										figure.advantage-list__item-img
											img(src="img/photos/n-advantage-1.svg")
										.advantage-list__item-desc
											.advantage-desc
												.advantage-desc__title 0 рублей
												.advantage-desc__text Мы сократили ваши затраты, сделав замер, дизайн-проект, доставку и монтаж БЕСПЛАТНЫМИ*
												.advantage-desc__notice *кроме Москвы и Санкт-Петербурга
									.advantage-list__item
										figure.advantage-list__item-img
											img(src="img/photos/n-advantage-2.svg")
										.advantage-list__item-desc
											.advantage-desc
												.advantage-desc__title Без хлопот
												.advantage-desc__text Мы ценим ваши деньги и время. И поэтому самостоятельно организуем доставку и установку

		div(style="display: none")
			include symbol/sprite.svg
		include inc/footer.pug
		include inc/scripts.pug
		//- script(src="js/main-page.js")