<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Главная
		include inc/head.pug
		include inc/css.pug
	body.main.loading
		include inc/header.pug
		main#content
			.main-slider
				.swiper-wrapper
					.swiper-slide
						.main-slide
							figure._img
								img.swiper-lazy(data-src="img/photos/main-slide-img-0.jpg")
								.swiper-lazy-preloader
							._title
								.main-slide__title-subtitle Lorena кухни
								.main-slide__title-title Качество 
									br 
									| в деталях
								.main-slide__title-btn
									a.orange-arrow.-highlighted(href="#") 
										span._arrow
										span._text Нам есть 
											br
											| что рассказать
					.swiper-slide
						.main-slide
							figure._img
								img.swiper-lazy(data-src="img/photos/main-slide-img-1.jpg")
								.swiper-lazy-preloader
							._svg
								include ../img/scene.svg
			.main-about__cont
				.wrapper
					.main-about
						._counters
							.about-counters
								._top
									.counter
										._number(data-from="0" data-to="3") 3
										._text Направления
								._bottom
									.counter
										._number(data-from="0" data-to="57") 57
										._text Моделей
						._text
							.text-page
								p О какой кухне вы всегда мечтали? Большая, светлая, полная солнца? Уже 29 лет компания «LORENA кухни» занимается производством кухонных гарнитуров по индивидуальным проектам
							.main-about__text-btn
								a.arrow-btn(href="#") Каталог
			.main-catalog
				picture._bg
					source(srcset="img/photos/main-catalog-bg.jpg" media="screen and (min-width: 659px")
					source(srcset="img/photos/main-catalog-bg-mobile.jpg" media="screen and (max-width: 660px")
					img
				._list
					.catalog-list
						._item
							.catalog-item
								a._title(href="#") Современная
									br
									| коллекция/модерн
								._btn
									a.orange-arrow(href="#") 
										span._arrow
										span._text Смотреть коллецию
						._item
							.catalog-item
								a._title(href="#") Городская
									br
									| классика
								._btn
									a.orange-arrow(href="#") 
										span._arrow
										span._text Смотреть коллецию
						._item
							.catalog-item
								a._title(href="#") Классика
								._btn
									a.orange-arrow(href="#") 
										span._arrow
										span._text Смотреть коллецию
		div(style="display: none")
			<!-- Эту свг (sprite.svg) нужно вставлять инклюдом, т.к. она может меняться -->
			include symbol/sprite.svg
		include inc/footer.pug
		include inc/scripts.pug
		script(src="js/main-page.js")