<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Главная
		include inc/head.pug
		include inc/css.pug
	body.main.loading
		include inc/header.pug
		main#content
			.main-slider
				.swiper-wrapper
					.swiper-slide
						.main-slide
							figure._img
								img.swiper-lazy(data-src="img/photos/main-slide-img-0.jpg")
								.swiper-lazy-preloader
							._title
								.main-slide__title-subtitle Lorena кухни
								.main-slide__title-title Качество 
									br 
									| в деталях
								.main-slide__title-btn
									a.orange-arrow(href="#") 
										span._arrow
										span._text Нам есть 
											br
											| что рассказать
					.swiper-slide
						.main-slide
							figure._img
								img.swiper-lazy(data-src="img/photos/main-slide-img-1.jpg")
								.swiper-lazy-preloader
		#sprite(style="display: none")
			<!-- Эту свг нужно вставлять инклюдом, т.к. она может меняться -->
			include symbol/sprite.svg
		include inc/scripts.pug
		script(src="js/main-page.js")