html(lang="ru")
	head
		meta(charset="utf-8")
		title Отзывы
		include inc/head.pug
		include inc/css.pug
	body.inner.loading.tovar
		include inc/header.pug
		main#content
			.inner-content
				.inner-content__content
					.reviews
						.reviews__img
							.about-img.about-img--chat
								picture
									source(media="(min-width: 660px)" srcset="img/photos/new-reviews-top-img.jpg")
									source(media="(max-width: 660px)" srcset="img/photos/new-reviews-top-img.jpg")
									img
								//- .wrapper
								//- 	.about-img__text
								//- 		.about-img__text-subtitle Счастливые владельцы кухни lorena
								//- 		.about-img__text-title Более 170 000 довольных семей
								//- 			br
								//- 			| по всей России
								//- 		.about-img__text-btn
								//- 			a.default-btn(href="#") оставить отзыв
								.about-img__messages
									.a-messages
										.a-messages__top
											.a-messages__top-text У вас новое уведомление
											.a-messages__top-close
										.a-messages__message
											.message
												header.message__head
													.msg-head
														figure.msg-head__title
															img.msg-head__title-img(src="img/ico-msg.png")
															figcaption.msg-head__title-text instagram
														.msg-head__time Сейчас
												main.message__body
													.msg-body
														.msg-body__title maria
														.msg-body__text Вау! Крутая кухня! Где купила?
												footer.message__footer ещё 4 уведомления
									.about-img__messages-cursor
								.about-img__chat
									.wrapper
										.about-chat
											.about-chat__list
												//- .about-chat__list-item.about-chat__list-item--to
												//- 	.chat-msg
												//- 		.chat-msg__text Дорогая, ты что-то купила?
												//- .about-chat__list-item.about-chat__list-item--from
												//- 	.chat-msg
												//- 		.chat-msg__text Да дорогой, я купила кухню в Lorena кухни
												//- .about-chat__list-item.about-chat__list-item--to
												//- 	.chat-msg
												//- 		.chat-msg__text Почему именно Lorena кухни?
												//- .about-chat__list-item.about-chat__list-item--from
												//- 	.chat-msg
												//- 		.chat-msg__text Я посмотрела отзыв - это любовь!
												//- .about-chat__list-item.about-chat__list-item--from
												//- 	.chat-msg
												//- 		.chat-msg__dots
												//- 			.msg-dot
												//- 			.msg-dot
												//- 			.msg-dot
						.wrapper
							.title-block
								.title-block__title
									h1 Отзывы
								nav.title-block__menu
									ul.title-menu
										each item in  ["цена", "рассрочка", "полезное", "7 шагов к вашей кухне"]
											li
												a.title-menu__link.gray-btn(href="#")=item
							.reviews__filter
								form(action="#")
									.rev-filter
										.rev-filter__select
											.default-input
												select.default-input__input.default-input__input--select
													option(value="1") Челябинск
													option(value="2") Челябинск
													option(value="3") Челябинск
													option(value="4") Челябинск
												label.default-input__label Выберите город
										.rev-filter__select
											.default-input
												select.default-input__input.default-input__input--select
													option(value="1") Viva
													option(value="2") Viva
													option(value="3") Viva
													option(value="4") Челябинск
												label.default-input__label Выберите модель
										.rev-filter__select
											.default-input
												select.default-input__input.default-input__input--select
													option(value="1") 10
													option(value="2") 10
													option(value="3") 10
													option(value="4") 10
												label.default-input__label Показывать
										.rev-filter__submit
											input.arrow-btn(type="submit" value="Применить")
							.reviews__desc
								.rev-desc
									.rev-desc__text
										.rev-desc__text-title Более 170 000
										.rev-desc__text-text
											p Довольных семей по всей россии
											p Счастливые владельцы кухни lorena
									.rev-desc__btn
										a.default-btn.fancybox(href="#") Оставить отзыв
							.reviews__list
								.rev-list.load--more_list
									each rev, i in [{name: "Наташа Александрова", text: ""}, {name: "Надежда", text: ""}, {name: "Алексей", text: ""}, {name: "Елена Волошина", text: ""},  ]
										.rev-list__item
											.review
												if (i < 2)
													.review__img
														a.fancybox(href="img/photos/rev-img-"+i+".jpg" data-fancybox="rev-gallery-"+i)
															img(src="img/photos/rev-img-"+i+".jpg")
														a.fancybox(href="img/photos/rev-img-"+i+".jpg" data-fancybox="rev-gallery-"+i)
														a.fancybox(href="img/photos/rev-img-"+i+".jpg" data-fancybox="rev-gallery-"+i)
														a.fancybox(href="img/photos/rev-img-"+i+".jpg" data-fancybox="rev-gallery-"+i)
														a.fancybox(href="img/photos/rev-img-"+i+".jpg" data-fancybox="rev-gallery-"+i)
														.review-date 26.02.2019
												else
													.review__date
														.review-date 26.02.2019
												.review__text
													.rev-text
														.rev-text__title
															.rev-text__title-name=rev.name
															.rev-text__title-city Магнитогорск&nbsp;&nbsp;/&nbsp;&nbsp;Viva
															.rev-text__title-about
																.rev-about Городска классика / Элегант
														.rev-text__text.rev-text__text--annons
															.text-page
																p Здравствуйте! Хочется поделиться своими впечатлениями по кухне Lorena, заказанную в декабре 2018 в салоне г. Магнитогорска. Мы долго с мужем выбирали, где заказать нам кухню, побывали...
														.rev-text__text.rev-text__text--full
															.text-page 
																p Здравствуйте! Хочется поделиться своими впечатлениями по кухне Lorena, заказанную в декабре 2018 в салоне г. Магнитогорска. Мы долго с мужем выбирали, где заказать нам кухню, побывали...
																p Здравствуйте! Хочется поделиться своими впечатлениями по кухне Lorena, заказанную в декабре 2018 в салоне г. Магнитогорска. Мы долго с мужем выбирали, где заказать нам кухню, побывали...
																p Здравствуйте! Хочется поделиться своими впечатлениями по кухне Lorena, заказанную в декабре 2018 в салоне г. Магнитогорска. Мы долго с мужем выбирали, где заказать нам кухню, побывали...
													.rev-more
														a(href="#") Читать весь отзыв
											.rev-list__item-answer
												.rev-answer
													.rev-answer__title
														span Команда Lorena кухни
													.rev-answer__text
														.text-page
															p Здравствуйте! Хочу выразить огромную благодарность всем сотрудникам мебельной фабрики LORENA за качественное обслуживание, внимательность по всем вопросам, касающимся выполнения нашего заказа. Такой подход к выполнению работы говорит о высоком уровне профессионализма! 
			.main-choose__cont.main-choose__cont--no-bg
				.wrapper
					.main-choose
						.main-choose__form
							.main-choose__text-title Заполни заявку
							.main-choose__text-subtitle на бесплатный дизайн-проект своей кухни
								br
								| и получи рецепт в подарок!
							.choose-form 
								form(action="#")
									.choose-form__inputs
										.default-input
											input.default-input__input(type="text" placeholder="Иван" required)
											label.default-input__label Ваше имя
											.forms__error-message
										.default-input.default-input--select
											select.default-input__input.default-input__input--select(type="text" data-placeholder="Выберите город" required)
												option(value="Выберите город" disabled="")
												option(value="1" selected="") Челябинск
												option(value="2") Челябинск
												option(value="3") Челябинск
												option(value="4") Челябинск
												option(value="5") Челябинск
											label.default-input__label Город
											.forms__error-message
										.default-input
											input.default-input__input(type="tel" placeholder="+7 (351) 000 00 00" inputmode="tel" data-mask="phone" size="25" pattern='\\+7\\s\\([0-9]{3}\\)\\s[0-9]{3}-[0-9]{2}-[0-9]{2}' required)
											label.default-input__label Телефон
											.forms__error-message
										.default-input
											input.default-input__input(type="email" placeholder="Ivan@mail.ru" required  pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{1,63}$" inputmode="email")
											label.default-input__label E-mail
											.forms__error-message
										.choose-form__bot
											.choose-form__bot-submit
												input.arrow-btn.choose-form__submit(type="submit" value="Отправить")
						figure.main-choose__img
							img(src="img/photos/another-ivlev.png")
		div(style="display: none")
			include symbol/sprite.svg
		include inc/footer.pug
		include inc/scripts.pug
		//- script(src="js/main-page.js") 