html(lang="ru")
	head
		meta(charset="utf-8")
		title Определи размеры своей кухни
		link(rel="stylesheet" href="css/kitchen-sizes-pdf.css")
	body
		.wrapper
			include ../img/photos/size-kitchen-pdf-img.svg