html(lang="ru")
	head
		meta(charset="utf-8")
		title Новости
		include inc/head.pug
		include inc/css.pug
	body.inner.loading
		include inc/header.pug
		main#content
			.inner-content
				.inner-content__title
					.wrapper
						.title-block
							.title-block__title
								h1 7 шагов к вашей кухне
							nav.title-block__menu
								ul.title-menu
									each item in  ["Цена", "Рассрочка", "Отзывы", "Полезное", ]
										li
											a.title-menu__link.gray-btn(href="#")=item
				.inner-content__content
					.wrapper
						.steps
							.steps-list
								.steps-list__item
									.step
										.step__number
											.s-number
												.s-number__number 1
												.s-number__text шаг
										.step__text
											.text-page
												p Чтобы сэкономить время и средства, обратитесь за проектом кухни до начала ремонта в кухонном помещении. Грамотный эскиз и рекомендации для строителей уберегут Вас от переделок и дополнительных затрат
								.steps-list__item
									.step
										.step__number
											.s-number
												.s-number__number 2
												.s-number__text шаг
										.step__text
											.text-page
												p Пригласите мастера по замерам помещения. Компания «LORENA кухни» предоставляет эту услугу бесплатно в черте города, кроме Москвы. Телефон вызова мастера в Вашем городе смотрите на сайте в разделе «Где купить» или воспользуйтесь сервисом заказа замера. Единая справочная служба 8 (800) 200-92-20
								.steps-list__item
									.step
										.step__number
											.s-number
												.s-number__number 3
												.s-number__text шаг
										.step__text
											.text-page
												p Обратитесь в салон LORENA по удобному для Вас адресу.
													br
													| Дизайнер салона поможет вам определиться с выбором стиля кухни, порекомендует материалы и внутреннее наполнение, подберет встраиваемую технику.
													br
													| Дизайнер БЕСПЛАТНО разработает для Вас дизайн-проект с рекомендациями по размещению электропроводки, выводов под сантехнику, системы вентиляции, кафельного «фартука»
								.steps-list__item
									.step
										.step__number
											.s-number
												.s-number__number 4
												.s-number__text шаг
										.step__text
											.text-page
												p Оплатить гарнитур Вы можете удобным для Вас способом: наличным или безналичным расчетом (50% при заключении Договора, 50% – по готовности гарнитура, перед его установкой).
													br
													| Или воспользоваться удобной и выгодной РАССРОЧКОЙ, которую можете бесплатно оформить прямо в салоне
								.steps-list__item
									.step
										.step__number
											.s-number
												.s-number__number 5
												.s-number__text шаг
										.step__text
											.text-page
												p Одновременно выполняемые ремонт и изготовление гарнитура сэкономят время на создание интерьера Вашей кухни.
													br
													| Во время ремонта необходимо в соответствии с рекомендациями вывести розетки, провести коммуникации (водопровод и канализацию), при необходимости укрепить и выровнять стены
								.steps-list__item
									.step
										.step__number
											.s-number
												.s-number__number 6
												.s-number__text шаг
										.step__text
											.text-page
												p В среднем, в течение месяца гарнитур готов. Необходимо подготовить помещение к его установке. Для этого освободить кухню от старой мебели, техники и иных лишних предметов; желательно застелить полиэтиленом или картоном пол, чтобы не повредить его
								.steps-list__item
									.step
										.step__number
											.s-number
												.s-number__number 7
												.s-number__text шаг
										.step__text
											.text-page
												p Доставка при наличии лифта и установка гарнитура LORENA производятся БЕСПЛАТНО. За чертой города и в Москве доставка и монтаж - платный. Для вашего удобства компания LORENA сотрудничает с организациями, осуществляющими подключения водо- и газоснабжения в день установки кухонного гарнитура. За информацией вы можете обратиться к дизайнеру салона, ведущему ваш проект
							.steps__finish Поздравляем! Вы стали счастливым обладателем кухни мечты!
			.main-choose__cont.main-choose__cont--no-bg
				.wrapper
					.main-choose
						.main-choose__form
							.main-choose__text-title Заполни заявку
							.main-choose__text-subtitle на бесплатный дизайн-проект своей кухни
								br
								| и получи рецепт в подарок!
							.choose-form 
								form(action="#")
									.choose-form__inputs
										.default-input
											input.default-input__input(type="text" placeholder="Иван" required)
											label.default-input__label Ваше имя
											.forms__error-message
										.default-input.default-input--select
											select.default-input__input.default-input__input--select(type="text" data-placeholder="Выберите город" required)
												option(value="Выберите город" disabled="")
												option(value="1" selected="") Челябинск
												option(value="2") Челябинск
												option(value="3") Челябинск
												option(value="4") Челябинск
												option(value="5") Челябинск
											label.default-input__label Город
											.default-input__subtext 
												span Возможно ваш город 
												a(href="#") Челябинск
											.forms__error-message
										.default-input
											input.default-input__input(type="tel" placeholder="+7 (351) 000 00 00" inputmode="tel" data-mask="phone" size="25" pattern='\\+7\\s\\([0-9]{3}\\)\\s[0-9]{3}-[0-9]{2}-[0-9]{2}' required)
											label.default-input__label Телефон
											.forms__error-message
										.default-input
											input.default-input__input(type="email" placeholder="Ivan@mail.ru" required  pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{1,63}$" inputmode="email")
											label.default-input__label E-mail
											.forms__error-message
										.choose-form__bot
											.choose-form__bot-submit
												input.arrow-btn.choose-form__submit(type="submit" value="Отправить")
						figure.main-choose__img
							img(src="img/photos/another-ivlev.png")
		div(style="display: none")
			include symbol/sprite.svg
		include inc/footer.pug
		include inc/scripts.pug
		//- script(src="js/main-page.js") 