html(lang="ru")
	head
		meta(charset="utf-8")
		title Новости
		include inc/head.pug
		include inc/css.pug
	body.inner.tovar.loading
		include inc/header.pug
		main#content
			.inner-content
				.inner-content__content
					.tovar
						.tovar__slider
							.tovar-sliders
								.tovar-sliders__big
									.swiper-wrapper
										- for (let i = 0; i < 2; i++)
											.swiper-slide
												a.fancybox(href="img/photos/kitchen.jpg" data-fancybox="tovar-gallery")
													picture
														<!-- десктоп -->
														source.swiper-lazy(data-srcset="img/photos/kitchen.jpg" media="(min-width: 660px)")
														<!-- адаптив -->
														source.swiper-lazy(data-srcset="img/photos/adaptive-kitchen.jpg" media="(max-width: 660px)")
														img
												.swiper-lazy-preloader
									.tovar__slider-arrows
										.tovar-arrows
											a.tovar-arrows__arrow.tovar-arrows__arrow--prev.gray-arrow-btn(href="#") 
												span кухня БРИТ
											a.tovar-arrows__arrow.tovar-arrows__arrow--next.gray-arrow-btn(href="#") 
												span кухня ВЕНЕТО
								.tovar-sliders__thumbs
									.wrapper
										.thumbs-slider
											.thumbs-slider__list
												- for (let i = 0; i < 2; i++)
													figure.thumbs-slider__slide
														img(src="img/photos/kitchen-small-"+i+".jpg")
											.thumbs-slider__more
												<!-- ссылка на третью картинку в полноэкранной галерее -->
												a.more-imgs.fancybox(href="img/photos/kitchen.jpg" data-fancybox="tovar-gallery")
													img(src="img/photos/kitchen-small-2.jpg")
												<!-- ссылки на остальные картинки большой галереи -->
												- for (let j = 0; j < 3; j++)
													a.fancybox(href="img/photos/kitchen.jpg" data-fancybox="tovar-gallery")
						.tovar__desc
							.wrapper
								.tovar-desc
									.tovar-desc__titles
										.tovar-title
											.tovar-title__category Городская классика
											h1.tovar-title__title Канто
									.tovar-desc__btns
										.tovar-btns
											.tovar-btns__btn
												a.arrow-btn(href="#") Заказать дизайн-проект
											.tovar-btns__btn
												a.constructor-btn(href="#") Создать в конструкторе
											.tovar-btns__btn
												a.favorite-btn(href="#") Добавить в избранное
									.tovar-desc__text
										.tovar-text
											.tovar-text__price
												.tovar-price__title Стоимость базовой комплектации
												.tovar-price__price от 80 700 
													i.rub ₽
											.tovar-text__text
												.text-page
													p CANTO – абсолютная новинка 2019 года, способная перевернуть ваше представление о кухне. Это самая вариативная и многоликая модель за всю историю LORENA кухни. Впервые мы даём возможность выбора филёнки и профиля в разных декорах. 
													p Хотите лёгкости и радости бытия? Обратите внимание на женское прочтение модели. Абсолютно «иньская» - мягкая, тёплая и манящая – она создана для хозяйки с лёгким характером. Словно весна CANTO ворвётся в ваш дом и окутает его бесконечным теплом.
													p Брутальная и контрастная CANTO станет решением для холостяцкой квартиры. «Яньский» хозяин ставит во главу угла современные технические решения и дизайн.  
						.tovar__variants
							.wrapper
								.variants
									header.variants__header
										.variants__header-title Варианты исполнения
										.variants__header-tabs
											.tovar-tabs
												a.tovar-tabs__tab(href="#door-handle") Ручки
												a.tovar-tabs__tab.active(href="#worktop") Столешницы
												a.tovar-tabs__tab(href="#facades") Фасады
									main.variants__content
										.variants-list(id="door-handle")
											.variants-list__nav
												.variants-plates
													- for (let i = 0; i < 9; i++)
														figure.variants-plates__one(tabindex="1")
															img(src="img/photos/variants-imgs-"+i+".jpg")
															figcaption.variants-plates__one-text Бетон арт белый
											.variants-list__slider
												.variants-slider
													.swiper-wrapper
														- for (let i = 0; i < 9; i++)
															.swiper-slide
																a.variants-slider__slide.fancybox(href="img/photos/variants-img.jpg" data-fancybox="door-handle")
																	img.swiper-lazy(data-src="img/photos/variants-img.jpg")
																.swiper-lazy-preloader
										.variants-list.active(id="worktop")
											.variants-list__nav
												.variants-plates
													- for (let i = 0; i < 9; i++)
														figure.variants-plates__one(tabindex="1")
															img(src="img/photos/variants-imgs-"+i+".jpg")
															figcaption.variants-plates__one-text Бетон арт белый
											.variants-list__slider
												.variants-slider
													.swiper-wrapper
														- for (let i = 0; i < 9; i++)
															.swiper-slide
																a.variants-slider__slide.fancybox(href="img/photos/variants-img.jpg" data-fancybox="variants-worktop")
																	img.swiper-lazy(data-src="img/photos/variants-img.jpg")
																.swiper-lazy-preloader
										.variants-list(id="facades")
											.variants-list__nav
												.variants-plates
													- for (let i = 0; i < 9; i++)
														figure.variants-plates__one(tabindex="1")
															img(src="img/photos/variants-imgs-"+i+".jpg")
															figcaption.variants-plates__one-text Бетон арт белый
											.variants-list__slider
												.variants-slider
													.swiper-wrapper
														- for (let i = 0; i < 9; i++)
															.swiper-slide
																a.variants-slider__slide.fancybox(href="img/photos/variants-img.jpg" data-fancybox="variants-facades")
																	img.swiper-lazy(data-src="img/photos/variants-img.jpg")
																.swiper-lazy-preloader
						.tovar__reviews
							.wrapper
								.main-reviews
									.main-reviews__slider
										.reviews-slider
											.swiper-wrapper
												.swiper-slide
													.reviews-slide
														figure.reviews-slide__img(data-date="26.02.2019")
															img(src="img/photos/main-reviews-img.jpg")
														.reviews-slide__desc
															.reviews-slide__name Наташа Александрова
															.reviews-slide__city Магнитогорск
															.reviews-slide__text
																.text-page
																	p Здравствуйте! Хочется поделиться своими впечатлениями по кухне Lorena, заказанную в декабре 2018 в салоне г. Магнитогорска. Мы долго с мужем выбирали, где заказать нам кухню, побывали...
												- for (let i = 0; i < 10; i++)
													.swiper-slide
														.reviews-slide
															figure.reviews-slide__img(data-date="26.02.2019")
																img.swiper-lazy(data-src="img/photos/main-reviews-img.jpg")
																.swiper-lazy-preloader
															.reviews-slide__desc
																.reviews-slide__name Наташа Александрова
																.reviews-slide__city Магнитогорск
																.reviews-slide__text
																	.text-page
																		p Здравствуйте! Хочется поделиться своими впечатлениями по кухне Lorena, заказанную в декабре 2018 в салоне г. Магнитогорска. Мы долго с мужем выбирали, где заказать нам кухню, побывали...
									.main-reviews__counter
										.reviews-counter
											.reviews-counter__arrows
												.swiper-button-prev
												.swiper-button-next
											.reviews-counter__title «LORENA кухни» становятся лучше именно с вами. Пишите нам
											.reviews-counter__btn
												a.arrow-btn(href="#") Отзывы
			.main-choose__cont.main-choose__cont--no-bg
				.wrapper
					.main-choose
						.main-choose__form
							.main-choose__text-title Заполни заявку
							.main-choose__text-subtitle на бесплатный дизайн-проект своей кухни
								br
								| и получи рецепт в подарок!
							.choose-form 
								form(action="#")
									.choose-form__inputs
										.default-input
											input.default-input__input(type="text" placeholder="Иван" required)
											label.default-input__label Ваше имя
											.forms__error-message
										.default-input.default-input--select
											select.default-input__input.default-input__input--select(type="text" data-placeholder="Выберите город" required)
												option(value="Выберите город" disabled="")
												option(value="1" selected="") Челябинск
												option(value="2") Челябинск
												option(value="3") Челябинск
												option(value="4") Челябинск
												option(value="5") Челябинск
											label.default-input__label Город
											.forms__error-message
										.default-input
											input.default-input__input(type="tel" placeholder="+7 (351) 000 00 00" inputmode="tel" data-mask="phone" size="25" pattern='\\+7\\s\\([0-9]{3}\\)\\s[0-9]{3}-[0-9]{2}-[0-9]{2}' required)
											label.default-input__label Телефон
											.forms__error-message
										.default-input
											input.default-input__input(type="email" placeholder="Ivan@mail.ru" required  pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{1,63}$" inputmode="email")
											label.default-input__label E-mail
											.forms__error-message
										.choose-form__bot
											.choose-form__bot-submit
												input.arrow-btn.choose-form__submit(type="submit" value="Отправить")
						figure.main-choose__img
							img(src="img/photos/another-ivlev.png")
		div(style="display: none")
			<!-- Эту свг (sprite.svg) нужно вставлять инклюдом, т.к. она может меняться -->
			include symbol/sprite.svg
		include inc/footer.pug
		include inc/scripts.pug
		//- script(src="js/main-page.js") 