.cd-advantages
	display: grid
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr))
	gap: 26px

	&__item
		display: flex
		align-items: center

		&-img
			flex: none
			display: flex
			align-items: center
			justify-content: center
			width: 18px
			margin-right: 12px

		&-title
			font-size: 14px